In [1]:
#import dependencies 
import pandas as pd
from bs4 import BeautifulSoup

from splinter import Browser

In [2]:
#set path for chrome driver
executable_path = {"executable_path": "chromedriver.exe"}
#create browser object , headless false because we want to see what is going on
browser = Browser("chrome", **executable_path, headless=False)

# visit the url 
url = 'https://www.mshp.dps.missouri.gov/HP68/SearchAction'
#call the browers and go to the url
browser.visit(url)

In [3]:
#find the drop down menu and go to fatal
type_of_injury = browser.find_by_xpath("//*[@id='injuryType']/option[text()='Fatal']").click()

In [4]:
#click the submit button to search
browser.find_by_xpath('//*[@id="searchTable"]/tbody/tr[9]/td/input[1]').first.click()

In [5]:




#the last item in the list is 588, so we are going to run the loop 589 times
#("//*[@id='content']/table/tbody/tr[588]/td[1]/a")
#create blank list
data = []


# for loop, skip. Start at 1 because the first table element is 1 not 0 .We need the loop at start at 1 and not 0 . 
for i in range(1, 589):
    #find the xpath and click it. start at element 1 in the table
    browser.find_by_xpath(f"//*[@id='content']/table/tbody/tr[{i}]/td[1]/a").click()
    #take all of the tables and add to the list 
    data.append(pd.read_html(browser.html)[0])
    data.append(pd.read_html(browser.html)[1])
    data.append(pd.read_html(browser.html)[2])
    #tell the browser to go back. 
    browser.back()

In [30]:
#take a look at the list
data[0]

,Investigated By,Incident#,GPS Latitude,GPS Longitude,Date,Time,County,Location,Troop
0,TROOPER B.G. GROVES (837),190734242,38.55666,-90.25912,12/19/2019,7:55PM,ST. LOUIS CITY,NORTHBOUND I-55 AT LOUGHBOROUGH AVENUE,C

In [28]:
#start at the first item in the list, and take every third item(the gps table)
first = data[0::3]

In [38]:
#check to make sure we have the right info 
first[3]

,Investigated By,Incident#,GPS Latitude,GPS Longitude,Date,Time,County,Location,Troop
0,TPR. L. WILSON #1178,190728475,36.814028,-93.834333,12/16/2019,3:10PM,BARRY,HWY C 5.5 MILES EAST OF PURDY MO,D

In [23]:
#find the length of the total list 
len(data)

1764

In [31]:
#start at the second item in the list, and take every third item(the vehicle description)
second = data[1::3]

In [43]:
#check the data 
second[4]

,Veh. #,Vehicle Description,Damage,Disposition,Driver Name,Driver Gender,Driver Age,Safety Device,Driver City/State,Driver Insurance,Vehicle Direction
0,1,2005 JEEP LIBERTY,TOTAL,TOWED BY/TO BUCKLEY'S TOWING,"DEL PERCIO JR, MICHAEL J",MALE,53,YES,"FESTUS, MO",LIBERTY MUTUAL,SOUTHBOUND
1,2,2004 CHEVROLET MALIBU,MINOR,TOWED BY/TO BUCKLEY'S TOWING,"NO DRIVER, NO DRIVER",UNKNOWN,UNK,UNKNOWN,NaN,AMERICAN FAMILY,SOUTHBOUND

In [33]:
#start at the third item in the list, and take every third item(the injury section)
third = data[2::3]

In [51]:
#check the data 
third[7]

,Veh. #,Name,Gender,Age,Injury Type,Safety Device,City/State,Involvement,Disposition
0,1,JUVENILE,MALE,3,FATAL,YES,"SELIGMAN, MO",OCCUPANT,"MERCY HOSPITAL IN SPRINGFIELD, MO"
1,2,JUVENILE,FEMALE,12,MINOR,YES,"ROGERSVILLE, MO",OCCUPANT,MERCY HOSPITAL IN CASSVILLE
2,2,"THOMPSON, PATRICIA M",FEMALE,33,MINOR,YES,"ROGERSVILLE, MO",OCCUPANT,MERCY HOSPITAL IN CASSVILLE

In [56]:
#create a blank dataframe for table 1
df_gps = pd.DataFrame( columns = ["Investigated By", "Incident#", "GPS Latitude", "GPS Longitude", "Date", "Time", "County", "Location", "Troop"])

In [57]:
#create a blank dataframe for table 2
df_vehicle = pd.DataFrame( columns = ["Veh. #", "Vehicle Description", "Damage", "Disposition", "Driver Name", "Driver Gender", "Driver Age", "Safety Device", "Driver City/State", "Driver Insurance", "Vehicle Direction"])

In [58]:
#create a blank dataframe for table 3
df_injury = pd.DataFrame( columns = ["Veh. #", "Name", "Gender", "Age", "Injury Type", "Safety Device", "City/State", "Involvement", "Disposition"])

In [59]:
#append our list to the df
df_gps = df_gps.append(first, sort=True)
df_vehicle = df_vehicle.append(second, sort=True)
df_injury = df_injury.append(third, sort=True)

In [ ]:
#view the new df
df_vehicle

In [48]:
#save to csv
df_gps.to_csv(r'gps.csv', index = None, header=True)
df_vehicle.to_csv(r'vehicles.csv', index = None, header=True)
df_injury.to_csv(r'injury.csv', index = None, header=True)