In [1]:
import pydataset

In [6]:
df = pydataset.data('cancer')

In [8]:
import statsmodels.api as sm

In [10]:
df.fillna(0, inplace=True)

In [11]:
df.head()

,inst,time,status,age,sex,ph.ecog,ph.karno,pat.karno,meal.cal,wt.loss
1,3.0,306,2,74,1,1.0,90.0,100.0,1175.0,0.0
2,3.0,455,2,68,1,0.0,90.0,90.0,1225.0,15.0
3,3.0,1010,1,56,1,0.0,90.0,90.0,0.0,15.0
4,5.0,210,2,57,1,1.0,90.0,60.0,1150.0,11.0
5,1.0,883,2,60,1,0.0,100.0,90.0,0.0,0.0

In [12]:
df_y = df['sex']

In [15]:
df.drop(columns='sex', inplace=True)

In [18]:
df_y.replace({2:0}, inplace=True)

In [20]:
log_model = sm.Logit(df_y, sm.add_constant(df))

In [21]:
log_result = log_model.fit()

Optimization terminated successfully.
         Current function value: 0.604369
         Iterations 5

In [22]:
print(log_result.summary2())

                         Results: Logit
=================================================================
Model:              Logit            Pseudo R-squared: 0.099
Dependent Variable: sex              AIC:              295.5925
Date:               2023-03-04 13:07 BIC:              329.8859
No. Observations:   228              Log-Likelihood:   -137.80
Df Model:           9                LL-Null:          -152.95
Df Residuals:       218              LLR p-value:      0.00038980
Converged:          1.0000           Scale:            1.0000
No. Iterations:     5.0000
------------------------------------------------------------------
                Coef.   Std.Err.     z     P>|z|    [0.025  0.975]
------------------------------------------------------------------
const          -2.3142    2.1197  -1.0918  0.2749  -6.4687  1.8403
inst           -0.0057    0.0181  -0.3167  0.7515  -0.0411  0.0297
time           -0.0012    0.0007  -1.6091  0.1076  -0.0026  0.0003
status          1.0297    0.3389   3.0379  0.0024   0.3654  1.6940
age             0.0283    0.0168   1.6857  0.0919  -0.0046  0.0613
ph.ecog        -0.4337    0.3353  -1.2933  0.1959  -1.0910  0.2236
ph.karno       -0.0087    0.0170  -0.5127  0.6082  -0.0421  0.0246
pat.karno      -0.0007    0.0103  -0.0728  0.9420  -0.0209  0.0194
meal.cal        0.0008    0.0003   2.7240  0.0064   0.0002  0.0014
wt.loss         0.0262    0.0129   2.0312  0.0422   0.0009  0.0514
=================================================================

In [24]:
import numpy as np

In [25]:
np.exp(log_result.params).sort_values(ascending=False)

status       2.800235
age          1.028750
wt.loss      1.026507
meal.cal     1.000827
pat.karno    0.999252
time         0.998846
inst         0.994299
ph.karno     0.991316
ph.ecog      0.648112
const        0.098845
dtype: float64

In [26]:
np.std(df)

inst           8.299399
time         210.183094
status         0.447175
age            9.053537
ph.ecog        0.717477
ph.karno      13.415031
pat.karno     17.120045
meal.cal     518.516616
wt.loss       12.917780
dtype: float64

In [30]:
abs(log_result.params * (log_result.params * np.std(df))).sort_values(ascending=False)

status       0.474135
ph.ecog      0.134949
wt.loss      0.008841
age          0.007274
ph.karno     0.001021
meal.cal     0.000354
time         0.000280
inst         0.000271
pat.karno    0.000010
const             NaN
dtype: float64

In [31]:
# Interpret individual predictions with logistic regression

In [33]:
log_result.predict(sm.add_constant(df)).to_numpy()[:10]

array([0.75951303, 0.84328533, 0.2074959 , 0.74356456, 0.37317533,
       0.28071035, 0.58199776, 0.57404063, 0.72839531, 0.69546401])

In [34]:
df.iloc[2]

inst            3.0
time         1010.0
status          1.0
age            56.0
ph.ecog         0.0
ph.karno       90.0
pat.karno      90.0
meal.cal        0.0
wt.loss        15.0
Name: 3, dtype: float64

In [ ]:
#  key term is decision boundary
# https://scipython.com/blog/plotting-the-decision-boundary-of-a-logistic-regression-model/